@use '../variables';

.infos-bar {
    padding: 16px 24px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

    &__infos {
        display: flex;
        gap: 40px;

        &__item {
            font-size: 14px;
            color: variables.$secondaryTextColor;

            b {
                font-size: 18px;
                display: block;
                margin-bottom: 10px;
                color: variables.$secondaryTextColor;
            }
        }
    }
    
    @media (max-width: 640px) {
        display: block;

        &__infos {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px) {
        &__infos {
            gap: 16px;
        }
    }
}